body { 
    background-color: darkgoldenrod;
   
  }

  .title{
    font-size: 2.8em;
    color:dimgray;
  }

  .logo{  
    width: 200px;
    height: 200px;
  }

  .cards{
    border: 2px solid black;
    width: fit-content;
    padding: 1em 1em 2em 1em;  /*sigue las agujas del reloj*/
    border-radius: 10%;
    transition: 1s;           /*un segundo*/
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

  .cards:hover{
    background-color:crimson;
  }

  #principal{
    font-size: 4.5em;
  }

  #títulos{
  
    width: 40vw; /* el porcentaje del ancho de esa "cajita"*/
    margin: auto;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #cards-container{
   
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border: 2px solid rgb(104, 95, 95);
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }